.bannerb-main{
    background: url("../assets/CTA.png");
}
.bannerb-head{
font-size: 48px;
font-weight: 700;
line-height: 59.52px;
text-align: left;

}
.bannerb-sub{
    font-size: 16px;
    font-weight: 400;
    line-height: 29.76px;
    text-align: left;
}
.bottomb-sub2{
font-size: 16px;
font-weight: 500;
line-height: 25.6px;
text-align: left;

}
.bottomb-sub3{
font-size: 12px;
font-weight: 400;
line-height: 19.2px;
text-align: left;

}