.contact-us-sub-left {
    background: url("../assets/Frame1.png");
}
@media (max-width: 950px) {
    .contact-us-sub-left{
        background: url("../assets/Frame12.png");
    }
}
.contact-part1 > div{
    background: none;
    background-color: transparent;
    color:var(--theme);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}
.contact-part1 > div >  label{
    background: none;
    background-color: transparent;
    color:var(--theme);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    margin-bottom: 0.7rem;
}
.contact-part1 > div >  input{
    border-width:0px 0px 1px 0px;
    border-style: solid;
    border-color: var(--theme);
    font-size: 15px;
    color:var(--theme);
}
