.pricing-container {
    text-align: center;
    padding: 30px;
  }
  
  .pricing-plans {
    display: flex;
    justify-content: space-around;
    margin-top: 7rem;
  }
  
  .pricing-plan {
    background-color: #fff;
    border-radius: 24px;
    padding: 30px;
    width: 250px;
    flex: 1;
    margin: 0 10px;
    width:284px;
    height:535px;
  }
  
  .pricing-plan.pro {
    color: black;
  }
  .pricing-plan-active{
    transition: 400px;
    color:black;
  }
  .pricing-plan-active:hover{
    transition: 400px;
    background-color: #181059;
    transform: scale(1.05);
    margin-top:-50px;
    color:white;
  }
  .pricing-plan-active:hover > div > div > .price-choose{
    color:white;
  }

  .pricing-plan-active:hover > div > .price-choose{
    color:white;
  }
  .pricing-plan-active:hover > .pln-pricing{
    color:white;
  }
  .pricing-plan h3 {
    margin-bottom: 20px;
  }
  
  .pricing-plan ul {
    list-style: none;
    padding: 0;
    text-align: left;
    padding:15px 10px;
  }
  
  .pricing-plan ul li {
    margin-bottom: 10px;
    font-size: 16px;
    padding-top: 10px;
  }
  .pricing-no{
    color:grey;
  }
  .price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .save-badge {
    background-color: var(--bgc);
    color: var(--theme);
    padding: 5px 8px;
    border-radius: 6px;
    height:32px;
    width:78px;
    font-size: 12px;
  }
  
  .choose-button {
    background-color: #F8F4FF;
    color: #fff;
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    width:232px;
    height:62px;
    color:var(--theme);
    cursor: pointer;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }
  .choose-button > div {
    background-color: #F8F4FF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    width:232px;
    height:62px;
    color:var(--theme);
    cursor: pointer;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }
  
  .choose-button:hover {
    background-color: var(--theme);
    color:white;
  }
  @media (max-width:600px){
    
  }

    @media (max-width:1100px){
    .pricing-plans{
      display: grid;
      grid-template-columns: auto auto auto;
      flex-wrap: nowrap;
      margin-top:2rem;
    }
    .pricing-item4{
      grid-column: 2 / 3;
    }
    .pricing-plan{
      margin-bottom: 2rem;
    }
    .pricing-container{
      padding:0;
    }
    .price-choose-main > button{
      justify-content: center;
      display: flex;
      margin-left:0rem;
    }
  }
  @media (max-width:890px){
    .pricing-plans{
      display: grid;
      grid-template-columns: auto auto;
      flex-wrap: nowrap;
    }
    .pricing-plan{
      margin-bottom: 2rem;
    }
    .pricing-container{
      padding:0;
    }
  }
  @media (max-width:600px){
    .pricing-plans{
      display: grid;
      grid-template-columns: auto;
      flex-wrap: nowrap;
    }
    .pricing-plan{
      margin-bottom: 2rem;
    }
    .pricing-container{
      padding:0;
    }
    .pricing-item4{
      grid-column: 1/1;
      grid-row:4/5;
    }
  }
  
  @media (max-width: 768px) {
    .pricing-plans {
      flex-direction: column;
    }
  
    .pricing-plan {
      margin-bottom: 20px;
    }
  }
  .price-choose{
    text-align: left;
    color:#181059;
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
  }

  .price-choose-main{
    text-align: left;
    color:#181059;
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    position: absolute;
    bottom:2rem;
    left:2rem;
  }
  .price-choose-main > button{
    justify-content: center;
    display: flex;
    margin-left:0rem;
  }
  .pln-pricing{
    text-align: center;
    color:#181059;
    text-align: left;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    justify-items: center;
    justify-content: center;
  }