.whychooseus-content-div{
    border: solid;
    border-width: 0px 1px 0px 0px;
    /* padding-left:20px; */
    padding-right:20px;
    margin-right:20px;
}
@media screen and (max-width: 640px) {
    .whychooseus-content-div{
        padding-right: 10px;
        margin-right:10px;
    }
}